* {
  box-sizing: border-box;
}

body {
  background-color: lightblue;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  background-color: chocolate;
  height: 20vh;
  color: white;
  justify-content: space-between;
}

header div,
header button {
  margin: auto;
  font-size: 50px;
}

.scoring {
  display: flex;
  flex-direction: column;
}

.scoring p {
  margin: 0 20px;
}

#new-game-button {
  background-color: forestgreen;
  border-radius: 15px;
}

.main {
  display: flex;
}
