* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  background-color: rgb(231, 119, 39, 0.7);
  height: 20vh;
  color: white;
  justify-content: space-between;
}

header div,
header button {
  margin: auto;
  font-size: 50px;
}

.scoring {
  display: flex;
  flex-direction: column;
}

.scoring p {
  margin: 5px 7px;
  background-color: blue;
  width: 260px;
  text-align: center;
}

#new-game-button {
  background-color: forestgreen;
  border-radius: 15px;
}

#main {
  background-image: url(./table-felt.jpeg);
  background-size: contain;
  background-repeat: round;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.player-cards {
  display: flex;
  height: 40vh;
  width: 100%;
  margin: 30px;
  justify-content: space-evenly;
}

#p1-card,
#p2-card {
  background-color: crimson;
  text-align: center;
  width: 240px;
}

.round-winner {
  background-color: rgb(229, 255, 0);
  margin: 0 30px;
}

#draw-cards-button {
  height: 100px;
  width: 200px;
  align-self: center;
  background-color: cornflowerblue;
  color: lawngreen;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}
